$white-color: #fff;
$dark_font_color: #14141d;
$grey_font_color: #5c6369;
$blue_font_color: #2c465a;
$pink_font_color: #fe4c8d;
$orange_bg_color: #fea100;
$grey_bg_color: #edf1f3;
$dark_grey_bg: #373844;
$grey_border_color: #dde3e7;
