.contacts {
	background-color: $grey_bg_color;
	border-bottom: 1px solid $grey_border_color;

	font-weight: bold;
	text-transform: uppercase;
	color: $dark_font_color;

	.link_section {
		padding: 30px 0;
	}

	.reviews {
		border-right: 1px solid $grey_border_color;
		border-height: 200%;
		//line-height: 45px;

		.reviews__appeal {
			padding-left: 66px;
			padding-right: 16px;
			background: url('../images/icons/reviews_icon.png') no-repeat left center;
			font-size: 14px;

			span {
				display: block; // because 'span' isn't block element and we can't set margin for it 
				margin-top: -4px;

				color: $orange_bg_color;
				font-size: 16px;
			}
		} // end of .reviews__appeal

		.reviews__btn {
			width: 45px;
			height: 45px;
			margin-right: 50px;
			background-color: $orange_bg_color;
			border-radius: 50%;
			border: 0;

			i {
				color: $dark_font_color;
			}

			&:hover {
				i {
				color: $white_color;
				}
			}
		} // end of .reviews__btn

	} // end of .reviews

	.phone {

		.phone__appeal {
			padding-left: 56px;
			padding-right: 21px;
			background: url('../images/icons/phone_icon.png') no-repeat left center;
			font-size: 14px;

			border-right: 1px solid $grey_border_color;

			span {
				display: block; // because 'span' isn't block element and we can't set margin for it 
				margin-top: -4px;

				color: $orange_bg_color;
				font-size: 16px;
			}
		} // end of .phone__appeal

		.phone__number {
			padding-left: 21px;

			font: bold 32px/32px 'Playfair Display', serif;
		}
	} // end of .phone

} // end of .contacts

.about {
	padding: 65px 0 40px;

	.history {
		padding-top: 55px;

		.history__title {
			margin-bottom: 30px;

			color: $dark_font_color;
		}

		.history__text {
			line-height: 28px;
			color: $grey_font_color;
		}

		.awards {
			.read {
				width: 150px;
				margin-right: 50px;

				&:hover {
					color: $white-color;
				}
			}
		} // end of .awards
	} // end of .history

	.food-images {
		.food-images__item {
			margin-bottom: 15px;
		}
	} // end of .food_images

	.food-images-down {
		margin-top: 50px;
	}
} // end of .about

.today_special {
	padding-top: 95px;

	background: url('../images/backgrounds/today_bg.png') no-repeat center top;

	.today_special__title {
		margin-bottom: 30px;

		color: $white_color;
		text-align: center;
	}

	.dish {
		margin-bottom: 75px;
		z-index: 100;

		text-align: center;
		background: $white-color;
		box-shadow: 0 20px 90px rgba(0,0,0,0.15);

		.dish__img {
			width: 100%;
			margin-bottom: 30px;
		}

		.dish__title {
			margin-bottom: 20px;
			font-size: 26px;
			color: $dark_font_color;
		}

		.dish__description {
			padding: 0 54px;
			margin-bottom: 65px;

			color: $grey_font_color;
		}

		.dish__details {
			margin: 0 40px;
			padding: 20px 0;
			border-top: 1px solid #e1e1e1;

			text-transform: uppercase;

			.dish__delivery {
				padding-right: 20px;
				border-right: 1px solid #e1e1e1;

				font-weight: bold;
				font-size: 13px;				
				color: $dark_font_color;
				text-align: left;

				span {
					color: $pink_font_color;
				}
			} // end of .food__delivery

			.dish__phone {
				padding: 0 20px;

				font-family: 'Playfair Display', serif;
				font-weight: bold;
				font-size: 26px;
				color: $dark_font_color;
			} // end of .food__phone

			.dish__price {
				font-family: 'Playfair Display', serif;
				font-weight: bold;
				font-size: 26px;
				color: $orange_bg_color;
			} //.end of .dish__price
		} // end of .dish__details
	} // end of .dish

	.dish__backdrop {
		position: relative;
		z-index: -1; 

		height: 311px;
		width: 311px;		 
		margin-top: -245px;
		margin-left: 350px;
			
		background: url('../images/content/today_backdrop.png') no-repeat right bottom;
	} // end of .dish__backdrop
} // end of .today_special

.food_menu {
	margin-top: -70px;
	margin-bottom: 100px;

	background: url('../images/content/menu_backdrop.png') no-repeat left 45px;

	.food_menu__title {
		margin-bottom: 40px;

		color: $dark_font_color;
		text-align: center;
	}

	.food_menu__items {
		padding: 0 250px 20px;

		border-bottom: 1px dashed #a3b0ba;
		border-width: 100%;		

		.food_menu__item {
			text-align: center;

			a {
				font-family: 'Playfair Display', serif;
				font-weight: bold;
				font-size: 20px;
				text-transform: capitalize;
				color: $dark_font_color;
			}
		} // end of .food_menu__item

		.food_menu__item:before {
				display: inline-block;

				content: ' ';
				background: url('../images/icons/food_menu_iconset.png') no-repeat;
				width: 30px;
				height: 30px;
				left: 50%;
		} // end of .food_menu__item:before

		.all_tag:before {
			background-position: 0 -31px;
		}

		.breakfast_tag:before {
			background-position: -40px -31px;
		} 

		.lunch_tag:before {
			background-position: -80px -31px;
		}

		.snacks_tag:before {
			background-position: -120px -31px;
		}

		.pizza_tag:before {
			background-position: -160px -31px;
		}

		.soups_tag:before {
			background-position: -200px -31px;
		}

		.dinner_tag:before {
			background-position: -240px -31px;
		}

		.food_menu__item:hover:before {
			background-position-y: 0;
		}
	} // end of .food_menu__items

	.dishes_list {
		padding: 15px 30px;
		margin-bottom: 10px;

		.dishes_list__item {
			margin-left: 30px;
			padding: 25px 40px 25px 0;
			overflow: hidden;

			border-bottom: 1px solid $grey_bg_color;

			&:last-child {
				border-bottom: none;
			}

			.dish_info {
				float: left;

				.dish_title {
					margin-bottom: 5px;
					font-weight: bold;
					font-size: 16px;
					text-transform: uppercase;
					color: $dark_font_color;
				} // end of .dish_info

				.dish_description {
					color: $grey_font_color;
				}
			}

			.dish_price {
				float: right;
				
				font-family: 'Playfair Display', serif;
				font-weight: bold;
				font-size: 26px;
				color: $orange_bg_color;
			} // end of .dish_price
		} // end of .dishes_list__item
	} // end of .dishes_list

	.goto_food_menu {
		width: 200px;
		margin: 0 auto;
		padding: 19px 0;
	}
} // end of .food_menu