body {
	font-family: 'Sintony', sans-serif;
	color: $grey_font_color;
}

ul, li {
	display: block;
	padding: 0;
	margin: 0;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Playfair Display', serif;
	font-weight: bold;
}